<template>

    <div class="container">

        <form @submit.prevent="onFormSubmit" class="login" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input v-model="formFields.email" v-validate="'required|email|max:255'" type="email" name="email" id="email" required="required" class="form-control">

                <validation-errors :validation-errors="getErrors('email')"></validation-errors>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input v-model="formFields.password" v-validate="'required|min:6'" type="password" name="password" id="password" required="required" class="form-control">

                <validation-errors :validation-errors="getErrors('password')"></validation-errors>
            </div>
            <button :disable='isStoring' type="submit" class="btn btn-primary">log in</button>
        </form>

    </div>

</template>

<script>
    import {formMixin} from '../mixins/form-mixin';
    export default {
        mixins: [formMixin],
        data() {
            return {
            }
        },
        created () {

        },
        mounted(){


        },
        methods: {

            onFormSubmit() {

                if (this.isStoring) {
                    return false;
                }

                this.$validator.validateAll().then((result) => {

                    if (result) {

                        this.beforeStoreHandler();

                        this.$store.dispatch('auth/login', this.formFields).then((response) => {

                            this.submitSuccessHandler(response, 'Successfully logged in.');
                            this.formFields = {};
                            this.$validator.reset();

                            this.$router.push({name: 'transactions'});

                        }).catch((error) => {
                            this.submitErrorHandler(error);
                        });
                    }
                });
            },
        },
    }
</script>
