<template>

    <div>

        <site-header></site-header>

        <div class="container">
            <h1>Transactions</h1>

            <form @submit.prevent="onFormSubmit" novalidate>
                <div class="form-group">
                    <label for="customerId">Customer Id</label>
                    <input v-model="formFields.customerId" v-validate="'min_value:1'" name="customerId" type="number" class="form-control" id="customerId" placeholder="Customer Id" min="1">

                    <validation-errors :validation-errors="getErrors('customerId')"></validation-errors>

                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input v-model="formFields.amount" v-validate="'min_value:0.01'" name="amount" type="number" class="form-control" id="amount" placeholder="Amount" step="0.01" min="0.01">

                    <validation-errors :validation-errors="getErrors('amount')"></validation-errors>

                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input v-model="formFields.date" name="date" type="date" class="form-control" id="date">

                    <validation-errors :validation-errors="getErrors('date')"></validation-errors>

                </div>

                <input @click.prevent="formFields={}" class="btn btn-primary" type="reset" value="Reset">

                <button :disable='isStoring' type="submit" class="btn btn-primary">Submit</button>
            </form>

            <table v-if="$store.state.transactions.items" class="table">
                <thead>
                <tr>
                    <th scope="col">Transaction Id</th>
                    <th scope="col">Customer Id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="transaction of $store.state.transactions.items">
                    <th scope="row">{{transaction.transactionId}}</th>
                    <td>{{transaction.customerId}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.date}}</td>
                </tr>
                </tbody>
            </table>

            <pagination v-if="$store.state.transactions.items"
                        :limit="params.limit"
                        :count="$store.state.transactions.count"
                        pages-limit="7"
            ></pagination>

        </div>

    </div>

</template>

<script>
    import {formMixin} from '../mixins/form-mixin';
    export default {
        mixins: [formMixin],
        data() {
            return {
                params: {
                    limit: 10
                },
                formFieldsNames: ['customerId', 'amount', 'date']
            }
        },
        created () {

            this.$store.commit('transactions/unsetItems');
            this.$store.commit('transactions/unsetCount');

            if (+this.$route.query.page > 0){

                this.params.offset = (this.$route.query.page - 1) * this.params.limit;
            }

            for (let fieldName of this.formFieldsNames){

                if (this.$route.query[fieldName]){

                    this.formFields[fieldName] = fieldName !== 'date'
                        ? this.$route.query[fieldName]
                        : this.$moment(this.$route.query[fieldName], 'DD.MM.Y').format('YYYY-MM-DD');
                }
            }

            this.$store.dispatch('transactions/getItems',
                Object.assign(_.pickBy(this.$route.query, (v, k) => k !== 'page') , this.params)
            ).then((response) => {}).catch((error) => {this.submitErrorHandler(error);})
        },
        methods: {

            logout(){
                this.$store.dispatch('auth/logout').then((response) => {

                    if ((response.data && response.data.message) || message) {

                        this.$root.$refs.toastr.s((response.data && response.data.message) || message);
                    }
                    this.$router.push({name: 'login'});


                }).catch((error) => {})
            },

            onFormSubmit() {

                let formFieldsFormatted = {};

                for (let fieldName of this.formFieldsNames){

                    if (this.formFields[fieldName]){

                        formFieldsFormatted[fieldName] = fieldName !== 'date'
                            ? this.formFields[fieldName]
                            : this.$moment(this.formFields[fieldName]).format('DD.MM.Y');
                    }
                }

                let route = _.cloneDeep({
                    name: this.$route.name,
                    params: this.$route.params,
                    query: Object.assign(
                        _.pickBy(this.$route.query, (v, k) => this.formFieldsNames.indexOf(k) === -1 && k !== 'page'),
                        formFieldsFormatted
                    )
                });

                this.$router.push(route);
            },
        },
    }
</script>
