<template>

    <nav v-if="pages && pages.length">
        <ul class="pagination">
            <li v-if="arrows && arrows.left" class="page-item">
                <a @click.prevent="navigate(arrows.left.number)" class="page-link" href="#">Previous</a>
            </li>

            <li v-for="page of pages" :class="{active: page && page.number === currentPage}" class="page-item">
                <a @click.prevent="navigate(page.number)" v-if="page && page.number !== currentPage" class="page-link" href="#">{{page.number}}</a>
                <span v-else-if="page && page.number === currentPage" class="page-link">{{page.number}}</span>
                <span v-else class="page-link">...</span>
            </li>

            <li v-if="arrows && arrows.right" class="page-item">
                <a @click.prevent="navigate(arrows.right.number)" class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</template>

<script>

    import {formMixin} from '../../mixins/form-mixin';

    export default {

        props: ['limit', 'count', 'pagesLimit'],

        data() {
            return {
                currentPage: +this.$route.query.page || 1,
                pages: null,
                arrows: null
            }
        },

        mixins: [formMixin],

        directives: {},

        created() {
            this.calcPages();
        },
        watch: {

            count (newVal) {
                this.calcPages();
            },
        },
        methods: {

            navigate(page){

                let route = _.cloneDeep({
                    name: this.$route.name,
                    params: this.$route.params,
                    query: Object.assign(_.cloneDeep(this.$route.query), {page: page})
                });

                this.$router.push(route);
            },

            calcPages(){

                this.pages = [];
                this.arrows = {
                    left: null,
                    right: null
                };

                if (this.count <= this.limit) {
                    return;
                }
                let pageNumber = 1;
                for (let i = 0; i < this.count; i += this.limit) {

                    this.pages.push({
                        number: pageNumber,
                    });
                    pageNumber++;
                }

                let currentPageIndex = _.findIndex(this.pages, {number: +this.currentPage});

                if (+currentPageIndex !== 0){

                    this.arrows.left = {
                        number: this.currentPage - 1
                    };
                }

                if (+currentPageIndex < this.pages.length - 1){

                    this.arrows.right = {
                        number: this.currentPage + 1
                    };
                }

                if (this.pages.length > this.pagesLimit){

                    let indexLeft = currentPageIndex;
                    let indexRight = currentPageIndex;

                    let formattedPages = [this.pages[currentPageIndex]];

                    while (formattedPages.length < this.pagesLimit){

                        indexLeft--;
                        indexRight++;

                        if (indexLeft >= 0){
                            formattedPages.unshift(this.pages[indexLeft]);
                        }
                        if (indexRight < this.pages.length){
                            formattedPages.push(this.pages[indexRight]);
                        }
                    }

                    if (+formattedPages[0].number !== 1){
                        formattedPages[0] = {
                            number: 1
                        };
                        formattedPages[1] = null;
                    }

                    if (+formattedPages[formattedPages.length - 1].number !== +this.pages[this.pages.length - 1].number){
                        formattedPages[formattedPages.length - 1] = {
                            number: this.pages[this.pages.length - 1].number
                        };
                        formattedPages[formattedPages.length - 2] = null;
                    }

                    this.pages = formattedPages;
                }
            }
        }
    }
</script>
