<template>

    <nav v-if="$store.state.auth.user" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{$store.state.auth.user.name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a @click.prevent="logout" class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</template>

<script>
    export default {
        methods: {

            logout(){
                this.$store.dispatch('auth/logout').then((response) => {

                    if ((response.data && response.data.message) || message) {

                        this.$root.$refs.toastr.s((response.data && response.data.message) || message);
                    }
                    this.$router.push({name: 'login'});


                }).catch((error) => {})
            },
        },
    }
</script>
