<template>

    <div v-if="validationErrors && validationErrors.length" class="input-error-message-container">
        <p v-for="error of validationErrors" class="error_message">{{error | underscoresReplaced}}</p>
    </div>

</template>

<script>
    export default {
        props: ['validationErrors'],

        filters: {
            underscoresReplaced: (value) => {

                return value.replace(/_/g, ' ');
            }
        }
    }
</script>
